
<h1>The Track-Dex</h1>
<table>
    <% @tracks.each do |track|%>
        <tr>
            <td><%=track.name %></td>
            <td><%=track.artists %></td>
            <td><%=track.name %></td>
        </tr>
    <% end %>
</table>
  