/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Color palette composed at https://coolors.co/27163f-31081f-6b0f1a-595959-808f85 */
 
 :root {
  font-size: 16px;
  font-family: 'Share Tech Mono', monospace;
  font-family: 'Open Sans', sans-serif;
  --davys-grey: #595959;
  --xanadu: #808F85;
  --russian-violet:  #27163f;
  --dark-purple: #31081F;
  --persian-plum: #6b0f1a; 
}
 body {
    color: black;
    background-color: white;
    margin: 1rem;
    padding: 0;
     
 }

 body::-webkit-scrollbar {
  width: 0.5rem;

 }

 body::-webkit-scrollbar-track {
  background: var(--xanadu);

 }

 body::-webkit-scrollbar-thumb {
   background: var(--davys-grey);


 }

 main {
   margin-left: 15rem;
   padding: 1rem;
 }
 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
/*
  .navbar {
    width: 9rem;
    height: 100vh;
    position: fixed;
    background-color: var(--davys-grey);
    transition: width 200ms ease;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .navbar:hover{
    width: 10rem; 
  }
  .navbar:hover .link-text {
    display: block;
  }
  .nav-item {
    width: 100%;
  }
  .nav-item:last-child {

    margin-top: auto;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;

  }
  */
  .link-text {
    
    margin-left: 1rem;
  }
  .nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
  }


*/
footer {
    margin-top: 45px;
    margin-left: 10rem;
    padding-top: 5px;
    border-top: 0px; 
    color: #999;
  }

 /* NGL Eri's error style is clean enough, to start */
 .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }

  #error_explanation{
      background-color: lightcoral;
      font-style: italic;
  }