<%# <%= index_header %> 
<h1>The Playlists</h1>
<div class="album text-muted">
   <div class="container">
      <div class="row">
         <% @playlists.each do |p| %>
            <%#= render partial: 'card', :playlist => p %>
            <div class="card">
               <strong class="card-text"><%= p.name %></strong>
               <p class="card-text"><%= p.views %></p>
               <p class="card-text"><%= p.likes %></p>
            </div>
         <% end %>
      </div>
    </div>
</div>
