<h1>Player for: <%=@playlist.name%> </h1>
<iframe src="https://open.spotify.com/embed/playlist/<%=@playlist.spotifyPlaylistID%>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
