<footer data-turbolinks-permanent class="footer" >
    <%# Hell yeah lets get that vaporwave aesthetic in here %>
    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1412946879/size=small/bgcol=333333/linkcol=e32c14/transparent=true/" seamless><a href="https://luxuryelite.bandcamp.com/album/prism">prism by luxury elite</a></iframe>
    <hr class="solid">
    <small>
    <a href="https://github.com/baldo-vela/greatest-hits">Greatest Hits </a> by Baldomero Vela 
</footer>